* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h2 {
    text-align: center;
    padding-top: 40px;
}
.game {
    width: 450px;
    height: 450px;
    background-color: beige;
    margin: 0 auto;
}
.line1, .line2 {
    display: flex;
    justify-content: center;
}
.block {
    position: absolute;
    background-color: darkkhaki;
    content: " ";
    width: 150px;
    height: 150px;
    border: 1px solid beige;
    box-shadow: 0 0 1px black;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

button {
    width: 40px;
    height: 40px;
}

#buttons{
    margin-bottom: 15px;
}

.block0{
    background-color: beige;
}


#pos00 {transform: translate3d(0px,0px,0);}
#pos01 {transform: translate3d(150px,0px,0);}
#pos02 {transform: translate3d(300px,0px,0);}
#pos10 {transform: translate3d(0px,150px,0);}
#pos11 {transform: translate3d(150px,150px,0);}
#pos12 {transform: translate3d(300px,150px,0);}
#pos20 {transform: translate3d(0px,300px,0);}
#pos21 {transform: translate3d(150px,300px,0);}
#pos22 {transform: translate3d(300px,300px,0);}